.focus {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 173.5px);
  line-height: 82.5%;
  display: inline-block;
  width: 348px;
  height: 96px;
  text-shadow: 2px 2px 0px #ff0070;
}
.group-child {
  position: absolute;
  top: 0px;
  left: 330px;
  width: 25px;
  height: 25px;
}
.group-item {
  position: absolute;
  top: 622px;
  left: 0px;
  width: 25px;
  height: 25px;
}
.group {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.decorations {
  position: absolute;
  top: calc(50% - 334px);
  left: calc(50% - 187.5px);
  width: 375px;
  height: 667px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.footer {
  position: absolute;
  top: 6103px;
  left: 0px;
  width: 375px;
  height: 668px;
  font-size: var(--font-size-97xl);
}
.section-child {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 10px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 24px;
  z-index: 0;
}
.w026n002597bp1-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 355px;
  height: 142px;
  object-fit: cover;
}
.icon {
  position: absolute;
  top: 152px;
  left: 0px;
  width: 355px;
  height: 355px;
  object-fit: cover;
}
.icon1 {
  position: absolute;
  top: 517px;
  left: 0px;
  width: 355px;
  height: 237px;
  object-fit: cover;
}
.icon2 {
  position: absolute;
  top: 1129px;
  left: 0px;
  width: 355px;
  height: 237px;
  object-fit: cover;
}
.icon3 {
  position: absolute;
  top: 764px;
  left: 0px;
  width: 355px;
  height: 355px;
  object-fit: cover;
}
.gallery {
  position: absolute;
  top: 34px;
  left: 0px;
  width: 355px;
  height: 1366px;
}
.b {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23.4px;
  display: inline-block;
  width: 355px;
  height: 24px;
}
.group1 {
  align-self: stretch;
  position: relative;
  height: 1400px;
  z-index: 1;
}
.section {
  position: absolute;
  top: 3955px;
  left: 0px;
  width: 375px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.rectangles-child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 47px;
}
.rectangles-item {
  position: absolute;
  top: 67px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangles-inner {
  position: absolute;
  top: 495px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangle-div {
  position: absolute;
  top: 759px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangles-child1 {
  position: absolute;
  top: 1163px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangles-child2 {
  position: absolute;
  top: 1427px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangles {
  position: absolute;
  margin: 0 !important;
  top: 90px;
  left: 10px;
  width: 355px;
  height: 1450px;
  z-index: 0;
}
.b1 {
  position: relative;
  line-height: 23.4px;
  display: inline-block;
  color: var(--color-gray);
  width: 355px;
  height: 47px;
  flex-shrink: 0;
}
.div1 {
  position: absolute;
  top: 33px;
  left: 0.2px;
  line-height: 23.4px;
  display: inline-block;
  width: 354.8px;
}
.div2 {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 23.4px;
  color: var(--color-gray);
  display: inline-block;
  width: 355px;
  height: 23px;
}
.div {
  position: relative;
  width: 355px;
  height: 408px;
}
.div4 {
  position: absolute;
  top: 33px;
  right: 0px;
  line-height: 23.4px;
  display: inline-block;
  width: 355px;
}
.div3 {
  position: relative;
  width: 355px;
  height: 244px;
}
.link-effects {
  position: absolute;
  top: 49px;
  left: 131px;
}
.a {
  color: inherit;
}
.div8 {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 23.4px;
  color: inherit;
  display: inline-block;
  width: 353.5px;
}
.div7 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 353.5px;
  height: 351px;
}
.div9 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23.4px;
  color: var(--color-gray);
  display: inline-block;
  width: 355px;
  height: 23px;
}
.div6 {
  position: relative;
  width: 355px;
  height: 384px;
  color: var(--color-deeppink);
}
.div14 {
  position: absolute;
  top: 33px;
  right: 0px;
  line-height: 23.4px;
  display: inline-block;
  width: 355px;
  height: 187px;
}
.div13 {
  position: relative;
  width: 355px;
  height: 220px;
}
.content {
  position: absolute;
  top: 90px;
  right: 0px;
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.title-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23.4px;
  display: inline-block;
  color: var(--color-deeppink);
  width: 355px;
  height: 70px;
}
.group2 {
  position: relative;
  width: 355px;
  height: 1737px;
  z-index: 1;
}
.section1 {
  position: absolute;
  top: 2168px;
  left: 0px;
  width: 375px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-pink);
}
.rectangles-child3 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangles-child4 {
  position: absolute;
  top: 334px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangles-child5 {
  position: absolute;
  top: 668px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
}
.rectangles1 {
  position: absolute;
  margin: 0 !important;
  top: 67px;
  left: 10px;
  width: 355px;
  height: 691px;
  z-index: 0;
}
.b2 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23.4px;
  display: inline-block;
  width: 355px;
}
.div17 {
  position: absolute;
  top: 33px;
  left: 0px;
  line-height: 23.4px;
  color: var(--color-pink);
  display: inline-block;
  width: 355px;
}
.div16 {
  position: relative;
  width: 355px;
  height: 314px;
}
.b3 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23.4px;
  display: inline-block;
  width: 355px;
  height: 23px;
}
.div18 {
  align-self: stretch;
  position: relative;
  height: 314px;
}
.div20 {
  position: relative;
  width: 355px;
  height: 384px;
}
.content1 {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.title-21 {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 23.4px;
  display: inline-block;
  color: var(--color-deeppink);
  width: 355px;
  height: 47px;
}
.group3 {
  align-self: stretch;
  position: relative;
  height: 1119px;
  z-index: 1;
}
.section2 {
  position: absolute;
  top: 999px;
  left: 0px;
  width: 375px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.section-item {
  position: absolute;
  margin: 0 !important;
  top: 67px;
  left: 10px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
  z-index: 0;
}
.section-inner {
  position: absolute;
  margin: 0 !important;
  top: 518px;
  left: 10px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 23px;
  z-index: 1;
}
.div23 {
  position: absolute;
  top: 33px;
  right: 4px;
  line-height: 23.4px;
  display: inline-block;
  width: 351px;
}
.b5 {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 23.4px;
  display: inline-block;
  color: var(--color-gray);
  width: 355px;
  height: 23px;
}
.div22 {
  position: absolute;
  top: 518px;
  right: 0px;
  width: 355px;
  height: 431px;
  color: var(--color-pink);
}
.link-effects1 {
  position: absolute;
  top: 189px;
  left: 2px;
  display: inline-block;
  width: 90px;
}
.div25 {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 23.4px;
  display: inline-block;
  width: 351px;
  height: 398px;
  color: var(--color-pink);
}
.group5 {
  position: absolute;
  top: 33px;
  left: 0px;
  width: 351px;
  height: 398px;
}
.div24 {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 355px;
  height: 431px;
}
.group4 {
  align-self: stretch;
  position: relative;
  height: 949px;
  z-index: 2;
}
.section3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-deeppink);
}
.main {
  position: absolute;
  top: 708px;
  left: 0px;
  width: 375px;
  height: 5355px;
  color: var(--color-gray);
}
.cover-image-dark-icon {
  position: absolute;
  top: 0px;
  left: calc(50% - 187.5px);
  width: 1068.6px;
  height: 668px;
  object-fit: cover;
}
.group-child1 {
  position: absolute;
  top: 623px;
  left: 0px;
  width: 25px;
  height: 25px;
}
.decorations1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 668px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.title-child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-deeppink);
  width: 355px;
  height: 117px;
}
.p {
  margin: 0;
}
.title {
  position: absolute;
  top: 485px;
  left: 10px;
  width: 355px;
  height: 117px;
  color: var(--color-gray);
}
.no-focus {
  position: absolute;
  top: calc(50% - 96px);
  left: calc(50% - 177.5px);
  font-size: var(--font-size-97xl);
  line-height: 82.5%;
  display: inline-block;
  color: var(--color-fuchsia);
  width: 355px;
  height: 192px;
  text-shadow: 4px 4px 0px #ff0070;
}
.div27 {
  position: relative;
  line-height: 18px;
  display: inline-block;
  width: 44px;
  height: 23px;
  flex-shrink: 0;
}
.div26 {
  position: absolute;
  top: 72px;
  left: 0px;
  border: 1px solid var(--color-deeppink);
  box-sizing: border-box;
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: 0px var(--padding-smi);
  align-items: center;
  justify-content: center;
}
.div28 {
  position: absolute;
  top: 36px;
  left: 0px;
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: 0px var(--padding-smi);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.div30 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 26px;
  display: flex;
  flex-direction: row;
  padding: 0px var(--padding-smi);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.theme-switch {
  position: absolute;
  top: 75px;
  left: 295px;
  width: 70px;
  height: 98px;
  text-align: center;
}
.child {
  position: absolute;
  top: 8px;
  left: 43px;
  border-radius: 50%;
  background-color: var(--color-deeppink);
  box-shadow: 0px 0px 4px 2px #ff0070;
  width: 9px;
  height: 9px;
}
.rec {
  position: absolute;
  top: 0px;
  left: 0px;
  line-height: 25px;
  display: inline-block;
  width: 33px;
  height: 26px;
}
.div32 {
  position: absolute;
  top: 10px;
  left: 304px;
  width: 52px;
  height: 26px;
  text-align: center;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 668px;
  overflow: hidden;
  color: var(--color-deeppink);
}
.x-668-dark {
  position: relative;
  background-color: var(--color-gray);
  width: 100%;
  height: 6770px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-fuchsia);
  font-family: var(--font-ibm-plex-mono);
}
