/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* Page */
.page {
  color: var(--main-text-color);
  font-family: var(--main-font);
  background: var(--background-image) no-repeat top center,
    var(--background-color);
  background-size: auto 768px;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  transition-duration: 0.2s;
}

/* Общие стили для .header */
.header {
  position: relative;
  z-index: 1;
  padding: 5px;
}

/* Общие стили для .header_text */
.header_text {
  color: var(--title-color);
  font-size: clamp(7.25rem, 6.0869rem + 5.8156vw, 9.8125rem);
  text-shadow: 4px 4px 0px var(--title-shadow);
}

/* Общие стили для .decorated-zone */
.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--corners-color);
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::before {
  bottom: 20px;
  left: 20px;
  border-top: none;
  border-right: none;
}

/* Общие стили для .header__theme-menu */
.header__theme-menu {
  padding-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: transparent;
  padding: 2.5px 12px;
  color: var(--corners-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

/* Дополнительные стили для .header__theme-menu-list */
.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

/* Медиа запросы */
@media (min-width: 1025px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .page,
  .container {
    padding: 20px;
  }

  .header_text {
    margin-top: 319px;
    margin-left: -3%;
  }

  .decorative.content__text.background-color {
    width: 491px;
    margin-right: 20px;
    margin-left: auto;
  }

  .header__theme-menu-list {
    justify-content: center;
    /* Добавлено выравнивание по центру */
  }
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: center;
    /* Выравнивание по центру в колонне */
  }

  .page {
    padding: 75px;
  }

  .container,
  .decorative.content__text.background-color {
    gap: 57px;
    margin-right: 20px;
    margin-left: auto;
  }

  .header_text {
    margin-top: 463px;
    margin-left: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (max-width: 375px) {
  .header_text {
    margin-top: 238px;
    margin-left: 0;
  }
}


/* Основное */
/* Общие стили для контейнера и контента */
.content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* Общие стили для секции "colum" и "row" */
.content-section {
  display: grid;
  gap: 20px;
}

.content__text.background-color {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--paragraph-bg-color);
}

.content__paragraph {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.content__title,
.color__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

/* Медиа запросы */
@media (max-width: 767px) {
  .content {
    gap: 20px;
  }

  .content-section.column .content__title,
  .content-section.column .content__block {
    text-align: left;
  }
}

/* Два столбца на десктопе */
@media (min-width: 768px) {
  .content-section.column {
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }

  .content-section.column .content__title {
    grid-column: 1 / 2;
    width: 50%;
    text-align: left;
  }

  .content-section.column .content__block {
    grid-column: 2 / 2;
    text-align: left;
  }

  .content-section.row {
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }

  .content-section.row .content__title {
    grid-column: span 3;
  }
}

/* Одна колонка на экранах шириной 768px и меньше */
@media (max-width: 768px) {
  .content-section.row {
    grid-template-columns: auto;
    justify-content: center;
  }

  .content-section.row .content__title {
    grid-column: 1 / -1;
  }
}

/* Дополнительные стили для ссылок */
.link {
  border: transparent;
  text-decoration: none;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* Общие стили для секции "section" */
.section {
  gap: 20px;
}


/* Footer */

.footer {
  position: relative;
  padding: 282px 20px;
  text-align: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width < 1024px) and (width >=375px) {
  .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor);
  }
}

@media (width < 768px) and (width >=375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width < 1024px) and (width >=768px) {
  .footer {
    padding: 434px 20px;
  }
}

@media (width < 768px) and (width >=375px) {
  .footer {
    margin-top: 40px;
    padding: 262px 10px;
  }
}