/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* Page */
.page {
  color: var(--main-text-color);
  font-family: var(--main-font);
  background: var(--background-image) no-repeat top center, var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  transition-duration: 0.2s;
}
/* 
!!!!!! SOS 
у меня не получаеться подогнать 
по макету оступы, хотя все брала от туда, где то поменяла, 
чтобы попробывать, но не получается 
*/
/* Общие стили для .header */
/* Header */
.header {
  position: relative;
  height: 100vh;
  padding: 0 20px;
  overflow: hidden;
}

@media (width < 767px) and (width >=375px) {
  .header {
    padding: 0 10px;
  }
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--rec-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  margin: -5px -15px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  gap: 76px;
  padding: 238px 0 136px;
}

/* Header Text */
.header_text {
  margin: 15px 0;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%;
  letter-spacing: -2px;
  text-shadow: 4px 4px 0px var(--title-shadow);
}

/* Decorated Zone */
.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--corners-color);
}

.decorated-zone::after {
  top: 20px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::before {
  bottom: 20px;
  left: 10px;
  border-top: none;
  border-right: none;
}

/* Header Theme Menu List */
.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

/* Header Content */
.header_content {
  align-self: flex-end;
  font-weight: 700;
}

/* Media Queries */
@media (max-width: 1023px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .container {
    gap: 76px;
  }
}

@media (min-width: 1024px) {
  .header_content {
    width: 491px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .header__theme-menu-list {
    gap: 10px;
  }
}

/* Header Theme Menu Button */
.header__theme-menu-button {
  border: transparent;
  padding: 2.5px 12px;
  color: var(--corners-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
}

@media (max-width: 1023px) and (min-width: 768px) {
  .header__theme-menu {
    padding-top: 170px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 156px;
    padding: 162px 0px 183px 0;
  }

  .header__theme-menu-list {
    gap: 10px;
  }

  .header_content {
    width: 364px;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .header__theme-menu {
    padding: 55px 10px;
  }

  .container {
    gap: 15px;
    padding: 0 10px 65px;
  }

  .background-color {
    align-self: flex-end;
    width: 100%;
  }
}

/* Основное */
.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 80px;
  margin: 80px 0;
  padding: 0 20px;
}

@media (max-width: 767px) and (min-width: 375px) {
  .content {
    gap: 50px;
    margin: 34px 0;
    padding: 0 10px;
  }
}

.section {
  line-height: 130%;
}

.content__title {
  margin-bottom: 20px;
  color: var(--title);
  font-weight: 700;
  font-size: 18px;
}

.dark-title {
  color: var(--background-color);
}

@media (max-width: 1023px) and (min-width: 768px) {
  .content__title {
    width: 35%;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .content__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.article__content {
  display: flex;
  flex-wrap: wrap;
}

.content__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__text,
.content__text.background-color {
  color: var(--text);
  font-weight: 700;
  font-size: 18px;
}

.content__text.background-color {
  background-color: var(--background-title-color);
}

.text_thin {
  font-weight: 400;
}

.content-section:first-of-type,
.content-section:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}

.content-section:first-of-type .content__title,
.content-section:nth-of-type(3) .content__title {
  flex: 0 0 auto;
  width: 33%;
}

@media (width < 1024px) and (width >=768px) {

  .content-section:first-of-type .content__title,
  .content-section:nth-of-type(3) .content__title {
    width: 32%;
  }
}

@media (width < 768px) and (width >=375px) {

  .content-section:first-of-type .content__title,
  .content-section:nth-of-type(3) .content__title {
    width: 100%;
    margin-bottom: 20px;
  }
}

.content-section:first-of-type .section__article-list,
.content-section:nth-of-type(3) .article__content {
  flex-direction: column;
  flex: 0 0 auto;
  gap: 20px;
  width: 66%;
}

@media (width >1024px) and (width >=768px) {

  .content-section:first-of-type .article__content,
  .content-section:nth-of-type(3) .article__content {
    width: 65%;
  }
}

@media (width < 768px) and (width >=375px) {

  .content-section:first-of-type .article__content,
  .content-section:nth-of-type(3) .article__content {
    width: 100%;
  }
}

.content-section:nth-of-type(2) .content__title {
  width: 30%;
}

@media (width < 768px) and (width >=375px) {
  .content-section:nth-of-type(2) .content__title {
    width: 100%;
  }
}

@media (width >=1024px) {
  .content-section:nth-of-type(2) .article__content {
    justify-content: space-between;
  }
}

@media (width < 1024px) and (width >=375px) {
  .content-section:nth-of-type(2) .article__content {
    gap: 20px;
  }
}

.content-section:nth-of-type(2) .content__block {
  flex: 0 0 auto;
  width: 32%;
}

@media (width < 1024px) and (width >=375px) {
  .content-section:nth-of-type(2) .content__block {
    flex: 1 0 auto;
    width: 100%;
  }
}

.link {
  border: transparent;
  text-shadow: 3px 3px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* Галерея */
/* 
!!!!!! SOS 
 по гитхабу показывает что 
 фотки для мобилок всхлопываеться
 как с этим быть 
*/
.section:last-of-type {
  display: grid;
}

.section:last-of-type .content__text {
  grid-column: 1/-1;
  width: 100%;
  margin: 0;
}

@media (width >=768px) {
  .section:last-of-type .section__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .section:last-of-type .section__image:first-of-type,
  .section:last-of-type .section__image:last-of-type {
    grid-column: span 2;
  }

  .section:last-of-type .section__image:nth-of-type(2),
  .section:last-of-type .section__image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width < 768px) {
  .section:last-of-type .section__image {
    width: 100%;
    height: auto;
  }

  .section:last-of-type .section__image-container {
    width: 100px;
  }
}

@media (width >=768px) {
  .section:last-of-type {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
}

@media (width < 768px) {
  .section:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Footer */
.footer {
  position: relative;
  padding: 282px 20px;
  text-align: center;
}

.footer__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0px var(--title-shadow);
}

@media (width < 768px) and (width >=375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width < 1024px) and (width >=768px) {
  .footer {
    padding: 434px 20px;
  }
}

@media (width < 768px) and (width >=375px) {
  .footer {
    margin-top: 40px;
    padding: 262px 10px;
  }
}