/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono', monospace;
}

:root {
  --title: #FF0070;
  --background-title-color: #FF0070;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --title-shadow: #FF0070;
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --background-color: #000028;
  --text: #000028;
  --title-decor: var(--title-shadow);
  --background-image: url(../images/cover-image-dark.png);
  --border-color: var(--main-text-color);
  --corners-color: var(--title-shadow);
  --link-shadow: var(--title-shadow);
  --rec-color: var(--title-shadow);
}

:root {
  --title: #353430;
  --main-text-color: #353430;
  --title-color: #FFC2E6;
  --background-title-color: #FF8DCB;
  --title-shadow: #ff0070;
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --background-color: #FFF1F7;
  --text: #353430;
  --background-image: url(../images/cover-image-light.png);
  --border-color: var(--title-shadow);
  --corners-color: var(--main-text-color);
  --link-shadow: var(--title-color);
  --rec-color: var(--background-color);
}